<!DOCTYPE html>
<html>
  <head>
    <title>Crypto Infos - Detail</title>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="res/img/logo.png" />

    <link rel="stylesheet" type="text/css" href="res/styles/details.css">
    <link rel="stylesheet" type="text/css" href="res/styles/common.css">
    
    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <!-- axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.2/axios.js"></script>

    <!-- Chartjs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
  </head>

  <body>

    <div id="app">
      <header-perso></header-perso>
    	<div id="main">
	    	<div id="option">
	    		<div id="separate-option">
            <div>
              <div class="option-title">Currency</div>
              <div class="sorting-option">
                <sortingoptioncurrency v-for="item in currency" v-bind:currency="item"></sortingoptioncurrency>
              </div>
            </div>
            <!-- / Currency option -->
            <div>
              <div class="option-title">Time Period</div>
              <div class="sorting-option">
                <sortingoptiontimeperiod v-for="item in timeperiod" v-bind:timeperiod="item"></sortingoptiontimeperiod>
              </div>
            </div>
            <!-- / Time period option -->
			    </div>
          <!-- / separate-option -->
		    </div>
        <!-- / option -->
		    <div id="main-container">
			    <crypto-detail v-bind:cryptocurrency="cryptocurrency" id="crypto-detail"></crypto-detail>
			  </div>
        <!-- / main-container -->
		  </div>
      <!-- / main -->
		  <div id="other">
			  <h1 id="other-title">Explore others cryptocurrencies</h1>
		  	  <div id="container-crypto">
		  	    <crypto v-for="item in cryptocurrencies" v-bind:cryptocurrencies="item" v-bind:key="item.id"></crypto>
		  	  </div>
		  </div>
      <!-- / Other -->
      <footer-perso></footer-perso>
    </div>
    <!-- / app -->

    <script type="text/javascript">
      document.getElementById('option').style.top=document.body.scrollTop;
    </script>

    
    <script type="text/javascript" src="scripts/formatNumber.js"></script>
    <script type="text/javascript" src="scripts/changeBackground.js"></script>
    <script type="text/javascript" src="scripts/components.js"></script>
    <script type="text/javascript" src="scripts/getFromUrl.js"></script>
    <script type="text/javascript" src="scripts/appDetails.js"></script>
    <script type="text/javascript" src="scripts/crypto-detail.js"></script>
    <script type="text/javascript" src="scripts/line-chart.js"></script>
  </body>
  <!-- / body -->
</html>
<!-- / html -->